
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">RMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="home">Home</a>
      <a class="nav-item nav-link" routerLink="#">Transaction</a>
      <a class="nav-item nav-link" routerLink="#">Reports</a>
      <a class="nav-item nav-link" routerLink="#">Security</a>
      <a class="nav-item nav-link" routerLink="maintenance">Maintenance</a>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Resource Management System  </h1>

  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <router-outlet></router-outlet>
      </div>
  </div>

</div>

  
