<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/assets/images/transaction.png">
    <div class="card-body">
      <h5 class="card-title">Transaction</h5>
      <p class="card-text">Perform your Transansactions with this module.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/images/report.png" >
    <div class="card-body">
      <h5 class="card-title">Report</h5>
      <p class="card-text">Generate a Hard Copy of your Data.</p>

    </div>
  </div>
  <div class="card" (click)="navigateTo('maintenance')">
   
    <img class="card-img-top" src="/assets/images/maintenance.png">
    <div class="card-body">
      <h5 class="card-title">Maintenance</h5>
      <p class="card-text">Maintain all System Tables with this menu.</p>
      <a routerLink="maintenace"> </a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/images/security.png">
    <div class="card-body">
      <h5 class="card-title">Security</h5>
      <p class="card-text">Change user password with this menu.</p>

    </div>
  </div>
</div>