
<div class="card-deck">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Vendor</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a routerLink="vendorlist" class="card-link">Vendor</a></li>
          <li class="list-group-item"><a routerLink="vendorlist" class="card-link">Vendor Resource class</a></li>
        </ul>
     </div>
     <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Cost Center</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a routerLink="vendorlist" class="card-link">Cost Center</a></li>
          <li class="list-group-item"><a routerLink="vendorlist" class="card-link">Cost Center Resource class</a></li>
        </ul>
     </div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Company</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a routerLink="vendorlist" class="card-link">Company</a></li>
    </ul>
 </div>
 <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Activity</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a routerLink="vendorlist" class="card-link">Activity</a></li>
    </ul>
 </div>
</div>