<div class="row">
  <div class="col-md-12">
<div class="alert alert-primary" role="alert">
 <h3> <b>Touched:</b> {{vendorForm.touched}} <b>Dirty:</b> {{vendorForm.dirty}} <b>Valid:</b> {{vendorForm.valid}}</h3>
</div>

<div class="alert alert-secondary" role="alert">
  Current Form value: {{ vendorForm.value | json }}
</div>


<div class="alert alert-secondary" role="alert">
    Code: {{ f.code.errors|json}}
  </div>


<form [formGroup]="vendorForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="code">Vendor Code</label>
      <input type="text" class="form-control" id="code" formControlName="code" placeholder="Enter Vendor Code">

      <div *ngIf="f.code.touched && f.code.errors"  class="alert alert-danger" role="alert">
         Code is required
     </div>
 
      
  </div>
  
    <div class="form-group">
      <label for="name">Vendor Name</label>
      <input type="text" class="form-control" id="name" formControlName="name"  placeholder="Enter Vendor Name">
       
      <div *ngIf="f.name.touched && f.name.errors"  class="alert alert-danger" role="alert">
       <span *ngIf="f.name.errors.minlength"> Minimum length is 5!</span>  
       <span *ngIf="f.name.errors.required"> Name is required!</span>  
      </div>
  
    </div>
    <div class="form-group">
        <label for="contact">Vendor Contact Person</label>
        <input type="text" class="form-control" id="contactPerson" formControlName="contactPerson"  placeholder="Enter Vendor Contact Person">
      </div>
      <div class="form-group">
          <label for="address">Vendor Address</label>
          <textarea class="form-control" id="address" formControlName="address"   rows="4" placeholder="Enter Vendor Address"></textarea>
        </div>
        <div class="form-group">
            <label for="contactno">Vendor Contact No</label>
            <input type="text" class="form-control" id="contactNo" formControlName="contactNo"  placeholder="Enter Vendor Contact No">
          </div>
          <div class="form-group">
              <label for="attention">Vendor Attention To</label>
              <input type="text" class="form-control" id="attentionTo" formControlName="attentionTo"  placeholder="Enter Vendor Attention To">
            </div>
            <div class="form-group">
                <label for="other">Vendor Other Information</label>
                <textarea class="form-control" id="otherInformation"  rows="3" formControlName="otherInformation"  placeholder="Enter Vendor Other Information"></textarea>
              </div>
              <div class="form-group">
                  <label for="status">Status</label>
                  <select class="form-control form-control-lg" id="status" formControlName="status" >
                      <option value="0">Active</option>
                      <option value="1">InActive</option>
                      <option value="2">For Deletion</option>
                    </select>
                  
                </div>

    <button type="submit" class="btn btn-primary btn-lg float-md-right" [disabled]='!vendorForm.valid || submitted'>Save</button> 
    <button type="button" class="btn btn-outline-primary btn-lg float-md-right" (click)="backToList()">Cancel</button>
  </form>
  <div class="alert alert-danger" role="alert" *ngIf="isError">
      <strong>Error encountered!</strong> Vendor cannot be saved!
    </div>
</div>


</div>
<div class="row"><br>
<br></div>