<div class="row">
    <div class="col-lg-12">
<button type="button" class="btn btn-success" [routerLink]="['../vendoradd']">Create</button>

<div id="preloader" *ngIf="isLoader">
  <div id="loader"></div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="isError">
  <strong>Error encountered!</strong> Please check your connection!
</div>


<table class="table table-hover" *ngIf="vendors.length">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Updated by</th>
      <th scope="col">Updated date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vendor of vendors">
      <th scope="row">{{vendor.id}}</th>
      <td>{{vendor.code}}</td>
      <td>{{vendor.name | uppercase}}</td>
      <td>{{vendor.status}}</td>
      <td>{{vendor.modifiedBy}}</td>
      <td>{{vendor.modifiedDate}}</td>
      <td>
      <button  type="button" class="btn btn-danger btn-sm" (click)="deleteVendor(vendor)" >
        Delete 
      </button></td>
    </tr>

  </tbody>
</table></div></div>